.card {
  padding: 1rem;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  width: fit-content;
  margin-right: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.content {
  display: flex;
}
